.field {
	width: 400px;
	height: 400px;
	margin: 100px auto;
	border: 1px solid black;
	position: relative;
}

.box1 {
	width: 140px;
	height: 350px;
	background: #ccc;
	position: absolute;
	bottom: 30px;
	left: 125px;
}

.box2 {
	width: 140px;
	height: 350px;
	background: #ccc;
	position: absolute;
	bottom: 30px;
	left: 105px;
	transform: translate(30px) rotate(45deg);
}

.box3 {
	width: 140px;
	height: 350px;
	background: #ccc;
	position: absolute;
	bottom: 30px;
	left: 105px;
	transform: translate(30px) rotate(92deg);
}

.box4 {
	width: 140px;
	height: 350px;
	background: #ccc;
	position: absolute;
	bottom: 30px;
	left: 105px;
	transform: translate(30px) rotate(138deg);
}

.cirkle {
	background: #fff;
	z-index: 2;
	width: 200px;
	height: 200px;
	border: 0px solid red;
	border-radius: 100%;
	position: absolute;
	bottom: 100px;
	left: 100px;
}