
.cirkle {
	display: inline-block;
	width: 9px;
	height: 9px;
	border-radius: 100%;
	border: solid 10px silver;
	position: absolute;
	left: 19px;
	top: 88px;
}

.box {
	display: inline-block;
	width: 40px;
	height: 19px;
	background: silver;
	position: absolute;
	left: 44px;
	top: 93px;
}

.hidden-screw {
    display: inline-block;
    width: 32px;
    height: 45px;
    transform: rotate(360deg);
    margin: -20px 0 20px -20px;
	overflow: hidden;
	border: solid 0px red;
	position: absolute;
	top: 100px;
	left: 100px;
}

.screw {
    width: 25px;
    height: 25px;
    display: block;
    border: solid 10px silver;
    transform: rotate(45deg);
}



.screw:after {
    content: '';
    display: block;
    margin: -9px 0 0 -9px;
    width: 23px;
    height: 23px;
    border-radius: 100%;
    border: solid 10px silver;

}

.triangle-right {
	border-top: 16px solid transparent;
	border-left: 15px solid silver;
	border-bottom: -10px solid transparent;
	position: relative;
	top: 72px;
	left: 103.5px;
}

.triangle-right2 {
	border-top: -10px solid transparent;
	border-left: 15px solid silver;
	border-bottom: 16px solid transparent;
	position: relative;
	top: 85px;
	left: 103.5px;
}

























